<link rel="stylesheet" href="./bootstrap-4/css/bootstrap.min.css">
<script src="./bootstrap-4/js/bootstrap.min.js"></script>
<script>

//Constants

//Main loop
var POLY_KEY_1 = 7;
var POLY_KEY_2 = 11;
var POLY_KEY_3 = 19;
var POLY_KEY_4 = 23;
//Initial Loop
var POLY_KEY_5 = 11;
var POLY_KEY_6 = 19;
var POLY_KEY_7 = 47;

//Iterations for loop
var ITERATIONS_1024 = 641;
var ITERATIONS_4096 = 3002411;

var VECTOR_MOD = 500000681;

/**
 * Run a test using a test text.
 *
 * @param keyConst
 */
function testRun(keyConst){
    var cd = Ecrypt("The quick brown fox jumps over the lazy dog!", keyConst);
    var decryptedData = Dcrypt(
        cd,
        keyConst
    );
    return decryptedData;
}

function formDecrypt(){
    var button = document.getElementById('d-button');
    button.setAttribute('disabled','disabled');
    var key = document.getElementById('d-key').value;
    var text = document.getElementById('d-text').value;
    var output = Dcrypt(text,key);
    document.getElementById('d-output').value = output;
    button.removeAttribute('disabled');
}

/**
 * Decrypt a given text using the given cipher
 *
 * @param bitwiseKey
 * @param cyphertext
 */
function Dcrypt(cyphertext, bitwiseKey){
    masked = atob(cyphertext);
	if(strlen(masked) > 1024){
        alert("Error, invalid data.\n");
		die();
	}
	var xorData = "";
	for(var x = 0; x < 1024; x++){
       d1 = parseInt(convertToBin(bitwiseKey[x]), 2);
       d2 = parseInt(convertToBin(masked[x]), 2);
	   xorData += String.fromCharCode((d1 ^ d2));
    }
    undone = rot8192Poly(xorData, bitwiseKey, true, false);
    var end = undone.indexOf("\\0");
    if(end > 0 )undone = undone.substring(0,end);
    return undone;
}

function formEncrypt(){
    var button = document.getElementById('e-button');
    button.setAttribute('disabled','disabled');
    var key = document.getElementById('e-key').value;
    var text = document.getElementById('e-text').value;
    if(strlen(text) > 1024){
        alert("You may not encrypt more than 1024 characters.");
        button.removeAttribute('disabled');
        return
    } else if(strlen(text) > 512){
        alert("Encrypting more than 512 characters lowers security in rare cases.");
    }
    var output = Ecrypt(text,key);
    document.getElementById('e-output').value = output;
    button.removeAttribute('disabled');
}

/**
 * Encrypt a given text using the given cipher
 *
 * @param plainText
 * @param bitwiseKey
 * @return string
 */
function Ecrypt(plainText, bitwiseKey){
    plainText = rot8192Poly(plainText, bitwiseKey, false, true);
    var masked = "";
	for(var x = 0; x < 1024; x++){
	   d1 = bitwiseKey[x].charCodeAt(0);
       d2 = (parseInt(plainText[x].charCodeAt(0).toString(2),2));
	   masked += String.fromCharCode((d1 ^ d2));
    }
    encoded = btoa(masked);
    return encoded;
}

function replaceAt(str, index, replacement) {
    return str.substr(0, index) + replacement+ str.substr(index + replacement.length);
}

/**
 * Wrapper for php.
 */
function strlen(binaryText){
    return binaryText.length;
}

/**
 * Wrapper for php 
 */
function ord(value) {
    var n = value.charCodeAt(0);
    return n;
}

/**
 * Convert string to binary stream
 *
 * @param value
 * @return string
 */
function convertToBin(value){
    var data = "";
    initialLength = strlen(value);
    for(var x = 0; x < initialLength; x++){
        bin = (ord(value[x])).toString(2);
        for(var y = 0; strlen(bin) < 8; y++){
            bin = "0" + bin; //Pad the stream correctly.
        }
        data += bin;
    }
    return data;
}

/**
 * Convert binary stream to string
 *
 * @param value
 * @return string
 */
function convertToChar(value){
    var data = '';
    initialLength = strlen(value);
    for(var x = 0; x < initialLength; x+=8){
        pack = value.substr(x,8);
        dec = parseInt(pack, 2);
        data += String.fromCharCode(dec);
    }
    return data;
}

/**
 * Generate the offset for the Math.power mod.
 *
 * @param key
 * @return int|string
 */
function generateVectorOffset(key){
    var offsetLength = strlen(key);
    var vectorOffset = "";
    var offsetData = 0;
    for(var x = 0; x < offsetLength; x++){
        offsetData = parseInt(String.fromCharCode((key[x]).toString(2).charCodeAt(0)), 16);
        offsetData = (isNaN(offsetData) ? 0 : offsetData);
        vectorOffset += offsetData.toString();
        vectorOffset %= VECTOR_MOD;
    }
    return vectorOffset;
}

/**
 * Rotate up to 512 bytes safely.. more are possible.
 */
function rot1024Poly(plainText, key, reverse){
    var length = strlen(plainText);
    var iterations = ITERATIONS_1024; //The Magic number.
    var magicOffset = 191+generateVectorOffset(key);
    for(var x = 0; x < iterations; x++){
        var y = 0;
        if(reverse){
            y = (iterations-1)-x;
        } else {
            y = x;
        }
        y %= length;
        var locationX = (POLY_KEY_5*Math.pow(y,4)+POLY_KEY_6*Math.pow(y,3)+POLY_KEY_7*Math.pow(y,2)+magicOffset)%length; //Semi-prime location.
        temp = plainText[y];
        plainText = replaceAt(plainText,y,plainText[locationX]);
        plainText = replaceAt(plainText,locationX,temp);
    }
    return plainText;
}

/**
 * KDF
 * Take up to 1024 byte string and spread out bits.
 */
function rot8192Poly(plainText, key, reverse, fill) {
    if(fill){
        //Ensure key length is long enough.
        for(var x = 0; strlen(plainText) < 1024; x++){
            if(x == 0){
                plainText += "\\0"; //#padding
            } else {
                plainText += key[x];
            }
        } 
    }
    //Initial rotations.. Like an onion.
    if(!reverse) {
        plainText = rot1024Poly(plainText, key, reverse);
    }

    //convert to binary data.
    binaryText = convertToBin(plainText);
    length = strlen(binaryText);
    iterations = ITERATIONS_4096; //The Magic number.
    magicOffset = (1471+generateVectorOffset(key))%length;
    var locationX = 0;
    var y = 0;
    for(var x = 0; x < iterations; x++){
        y = (reverse ? (iterations-1)-x : x)%length;
        locationX = parseInt((POLY_KEY_1*Math.pow(y,3.3)+POLY_KEY_2*Math.pow(y,3.1)+POLY_KEY_3*Math.pow(y,3)+POLY_KEY_4*Math.pow(y,2)+magicOffset)%length);
        temp = binaryText[y];
        binaryText = replaceAt(binaryText,y,binaryText[locationX]);
        binaryText = replaceAt(binaryText,locationX,temp);
    }
    if(reverse) {
        binaryText = convertToChar(binaryText);
        return rot1024Poly(binaryText, key, reverse);
    } else {
        return convertToChar(binaryText);
    }
}
</script>
<div class="well">
    <div class="col-md-11" style="border: 2px solid black; border-radius: 5px; margin: 15px;">
        <p>Enter data for encryption:</p>
        <form id="frm1" action="self">
          Secret Key: <textarea class="form-control" type="text" name="e-key" id="e-key"></textarea><br>
          Text to encrypt: <textarea class="form-control" type="text" name="e-text" id="e-text"></textarea><br>
          Encrypted Data: <textarea class="form-control" disabled="disabled" type="text" name="e-output" id="e-output"></textarea><br><br>
          <input class="btn btn-primary" id="e-button" type="button" onclick="formEncrypt()" value="Encrypt">
        </form>
    </div>

    <div class="col-md-11" style="border: 2px solid black; border-radius: 5px; margin: 15px;">
        <p>Enter data for decryption:</p>
        <form id="frm2" action="self">
          Secret Key: <textarea class="form-control" type="text" name="d-key" id="d-key"></textarea><br>
          Text to decrypt: <textarea class="form-control" type="text" name="d-text" id="d-text"></textarea><br>
          Decrypted Data: <textarea class="form-control" disabled="disabled" type="text" name="d-output" id="d-output"></textarea><br><br>
          <input class="btn btn-primary" id="d-button" type="button" onclick="formDecrypt()" value="Decrypt">
        </form>
    </div>
</div>
