<link rel="stylesheet" href="./bootstrap-4/css/bootstrap.min.css">
<script src="./bootstrap-4/js/bootstrap.min.js"></script>
<style>

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.loader {
    border: 48px solid #f3f3f3; /* Light grey */
	border-top: 48px solid rgba(255,255,255,0); /* transparent */
	border-bottom: 48px solid rgba(255,255,255,0); /* transparent */
    border-left: 48px solid #fb3448; /* Red */
    border-right: 48px solid #fb3448; /* Red */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 2s alternate infinite;
}

.loader2 {
    border: 40px solid #f3f3f3; /* Light grey */
    border-top: 40px solid #3498db; /* Blue */
    border-bottom: 40px solid #3498db; /* Blue */
    border-left: 40px solid rgba(255,255,255,0); /* transparent */
	border-right: 40px solid rgba(255,255,255,0); /* transparent */
	margin-top: -240px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 3s alternate infinite;
}

.loader3 {
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #23ff32; /* Green */
    border-bottom: 32px solid #23ff32; /* Green */
    border-left: 32px solid rgba(255,255,255,0); /* transparent */
	border-right: 32px solid rgba(255,255,255,0); /* transparent */
	margin-top: -240px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 5s alternate infinite;
}

.loader4 {
    border: 24px solid #f3f3f3; /* Light grey */
    border-top: 24px solid #f3ff32; /* Yellow */
    border-bottom: 24px solid #f3ff32; /* Yellow */
    border-left: 24px solid rgba(255,255,255,0); /* transparent */
	border-right: 24px solid rgba(255,255,255,0); /* transparent */
	margin-top: -240px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 7s alternate infinite;
}

.loader5 {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #8d1ca2; /* Purple */
    border-bottom: 16px solid #8d1ca2; /* Purple */
    border-left: 16px solid rgba(255,255,255,0); /* transparent */
	border-right: 16px solid rgba(255,255,255,0); /* transparent */
	margin-top: -240px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 4s alternate infinite;
}

.inst {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
</style>
<div class="row" style="margin-top: 5px;">
	<div style="margin: auto;">
		<table style="margin-left: 5px;">
			<tr>
				<td>
					<div>
						<label for="time">Key Generation:</label>
						<select class="form-control" id="time">
							<option value="0">Fast</option>
							<option value="1">Secure</option>
							<option value="2" selected="selected">Ultra Secure</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="margin-left: 5px;">
						<label for="time">Number of keys:</label>
						<select class="form-control" id="keys">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="25">25</option>
							<option value="50" selected="selected">50</option>
							<option value="75">75</option>
							<option value="100">100</option>
							<option value="200">200</option>
							<option value="200">300</option>
							<option value="500">500</option>
							<option value="1000">1000</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="margin-top: 5px;">
						<button class="btn btn-primary" type="button" onclick="generateKeys();">Generate Keys</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="row" style="padding: 5px;">
	<div style="position: relative; margin: auto;">
		<div id="spinner" class="hidden"></div>
		<div id="spinner2" class="hidden"></div>
		<div id="spinner3" class="hidden"></div>
		<div id="spinner4" class="hidden"></div>
		<div id="spinner5" class="hidden"></div>
	</div>
</div>

<div class="row" style="padding: 5px;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="progress hidden" id="progress">
			<div class="progress-bar inst" id="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
				<span class="sr-only">Executing</span>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div id="passrow" class="row hidden" style="border: 2px solid black; border-radius: 5px; margin: 15px; word-wrap: break-word; padding: 5px;">
	<span id="pass" style="color:white; text-shadow: 0 0 5px #000000;">You have not generated any keys yet.</span>
</div>

<script>
var keyNum = 1;
var seti;
function generateKeys() {
    clearKeys();
	var timeSelection = document.getElementById("time");
	var optionSelected = timeSelection.options[timeSelection.selectedIndex].value;
	var keysSelection = document.getElementById("keys");
	var keys = keysSelection.options[keysSelection.selectedIndex].value;
	keys = isNaN(keys) ? 10 : keys;
	var time = 0;
	var normal = true;
	if(optionSelected == "1"){
		time = 5000;
	} else if(optionSelected == "2"){
	    //Generate keys slowly. This should allow the csprng to reseed a few times during key generation.
	    normal = false;
	}
	startSpinner();
	var source = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890";
	if(normal){
	    //Fast but we have to trust the random generator to give us sufficient entropy.
		seti = setInterval(function(){
			var output = "";
			var array = new Uint32Array(1024);
			window.crypto.getRandomValues(array);
			for(var x = 0; x < 1024; x++){
			output += source.charAt(array[x]%source.length);
			}
			output = "Key"+keyNum+": "+output+"<br>";
			if(keyNum > 1){
				output = "<br>"+output;
			}
			addKey(output);
			keyNum++;
			if(keyNum > keys) {
			    stopSpinner();
			    clearInterval(seti);
			    createKeyFile();
            }
		}, time);
	} else {
	    //Use slow key generation in an attempt to get better quality entropy from the random generator.
		//Ideally the csprng will have reseeded a few times during each loop.
		var byte = "";
		var output = "";
		startProgress();
		seti = setInterval(function(){
			var array = new Uint32Array(1);
			window.crypto.getRandomValues(array);
			if(byte.length > 0){
			    byte += source.charAt(array[0]%source.length);
			} else {
			    byte = source.charAt(array[0]%source.length);
			}
			updateProgress((byte.length/1024*100)+"%");
			if(keyNum > keys) clearInterval(seti);
		}, 100);
		var seta = setInterval(function(){
		    if(byte.length >= 1024){
				output = byte;
				byte = "";
				output = "Key"+keyNum+": "+output+"<br>";
				if(keyNum > 1){
					output = "<br>"+output;
				}
				addKey(output);
				keyNum++;
			}
			if(keyNum > keys) {
		        clearInterval(seta);
		        stopSpinner();
		        stopProgress();
		        createKeyFile();
            }
		}, 100);

	}

	return false;
}

function addKey(output){
	var passwordElement = document.getElementById("pass");
	var passwordElementRow = document.getElementById("passrow");
	passwordElementRow.className ="row block";
	passwordElement.innerHTML += output;
}

function clearKeys(){
	var passwordElement = document.getElementById("pass");
	var passwordElementRow = document.getElementById("passrow");
	passwordElementRow.className ="row hidden";
	passwordElement.innerHTML = "";
}

function startProgress(){
	var progress = document.getElementById("progress");
	progress.className ="progress";
}

function updateProgress(value){
	var progress = document.getElementById("progress-bar");
	progress.style.width = value;
}

function stopProgress(){
	var progress = document.getElementById("progress");
	progress.className ="hidden";
}

function startSpinner(){
	var spinner = document.getElementById("spinner");
	var spinner2 = document.getElementById("spinner2");
	var spinner3 = document.getElementById("spinner3");
	var spinner4 = document.getElementById("spinner4");
	var spinner5 = document.getElementById("spinner5");
	spinner.className ="loader col-md-12";
	spinner2.className ="loader2 col-md-12";
	spinner3.className ="loader3 col-md-12";
	spinner4.className ="loader4 col-md-12";
	spinner5.className ="loader5 col-md-12";
}

function stopSpinner(){
	var spinner = document.getElementById("spinner");
	var spinner2 = document.getElementById("spinner2");
	var spinner3 = document.getElementById("spinner3");
	var spinner4 = document.getElementById("spinner4");
	var spinner5 = document.getElementById("spinner5");
	spinner.className ="hidden";
	spinner2.className ="hidden";
	spinner3.className ="hidden";
	spinner4.className ="hidden";
	spinner5.className ="hidden";
}

function createKeyFile(){
	var passwordElement = document.getElementById("pass");
	var keys = passwordElement.innerHTML;
	keys = keys.replace(/<br>/g, "\n");
	var currentdate = new Date();
	var time = currentdate.getDate()+"-"+(currentdate.getMonth()+1)+"-"+currentdate.getFullYear()+"__"+currentdate.getHours()+"-"+currentdate.getMinutes()+"-"+currentdate.getSeconds();
	var filename = 'keyFile__'+time+'.txt';
	var hiddenElement = document.createElement('a');
	hiddenElement.href = 'data:attachment/text,' + encodeURI(keys);
	hiddenElement.target = '_blank';
	hiddenElement.download = filename;
	hiddenElement.click();
}
</script>
